* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0%;
    font-family: 'Roboto', sans-serif;;
    background-color: #1F2235;
    color: white;
    
}
.main-header {
    display: flex;     
    justify-content: space-between;   
    align-items: center; 
    padding: 0.5em 2em;    
    /* margin-left: 1em;
    margin-right: 1em;        */
      
}
.navbar {
    padding: 30px 0;

}

 .nav-ul {
    list-style: none;     
}
.nav-li {
    display: inline-block;    
}

.nav-li a {
    text-decoration: none; 
    margin: 0 14px; 
    font-weight: 500; 
    color: white;
    font-size: 18px;     
}

nav ul li a:hover{
    color: #FF4A57;
}

#logo {
    width: 70%;
    padding-left: 18px;
}

.home-top {
    background-color: #24263B;
    display: flex;
    justify-content: space-between;
    padding: 2em 3em;
}
.home-top1 {
    margin: 7em 0;
}

.home-top1 > h2{
    font-size: 62px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.home-top1 > p{
    font-size: 26px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 50px;
}

/* .social-div {
    margin: 40px 0;
           
} */

.social-div a {
     margin: 8px;
} 

.social-div .fa {
    padding: 15px;
    /* font-size: 30px; */
    /* width: 25px; */
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%; 
    border: 2px solid #FF4A57;   
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook, .fa-pinterest, .fa-twitter, .fa-linkedin, .fa-instagram {
    color: white;
  }

  .btn1, .skilbtn{
    border: 2px solid;
    color: #fff;
    font-weight: 500;
    display: inline-block;    padding: 13px 40px;
    border-radius: 50px;
    font-size: 15px;
    border-color: #FF4A57;
    background-color: rgba(101, 30, 30, 0);
    margin-right: 0.5rem;
}

.btn1 a{
    text-decoration: none;
    color: #fff;
}

.btn1:hover, .skilbtn:hover{
    background-color: #FF4A57;
    transition: 0.3s ease;
}

.bnyt{
    display: flex;
    align-items: center;
    
}

.utube{
    border: #FF4A57 2px solid;
    border-radius: 50px;
    margin-left: 15px;
    background-color: #FF4A57;
}

.mdi-play{
    font-size: 30px;
    padding: 3px 30px;
    display: inline-block;
}

#service, #about, #skill{
    padding: 100px 2em 105px 2em;
}

.serv1, .abt{
    text-align: center;
    padding: 10px;
    margin: 0 27%;
}

.servp1, .skilp{
    margin-bottom: 20px;
    color: #FF4A57;
    font-size: 18px;

}
.serv1 h2, .abt h2, .skilh h2{
    font-size: 62px;
    margin-bottom: 25px;
}

.servp2, .abt p{
    line-height: 30px;
    font-size: 16px;
}

hr{
    width: 10%;
    height: 2.5px;
    margin: 40px 0px;
    display: inline-block;
    background-color: #FF4A57;
    border: inherit;
}

.servcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.servcard1{
    max-width: 30.5%;
    margin: 15px 15px;
    background: #23263A;
    padding: 60px 35px;
    border-radius: 20px;    
}

.servcard1:hover{
    background: #FF4A57;
    transition: .5s;
}

.servcard1 .fa{
    color: #FF4A57;
    font-size: 46px;    
}

.servcard1:hover i{
    color: #ffffff;
    transform: rotateY(360deg);
    transition: .8s linear;       
}

.servcard1 h3{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.25rem;
}

.servcard1 p, .abtcon p, .abtcon2 p, .skilh p, .skillbar>p{
    color: #dfdfdf;
    font-size: 16px;
    line-height: 26px;
}

#about{
    background-color: #23263A;
}

.abt1, .abtcon2{
    display: flex;
}

.abtimg{
    display: flex;
    justify-content: center;
    width: 80%;
}

.abtcon, .abtcon21, .abtcon22{
    width: 100%;
}

.abtcon1 p, .abtcon2 p, .skilh p{
    margin-bottom: 1.5rem;
}
.abtcon1 h3{
    margin-bottom: 25px;
    font-size: 1.75rem;
    line-height: 1.2;
}

.abtcon2 h3{
    color: #FF4A57;
    margin-bottom: 0.3rem;
}

.abtcon1, .abtcon21, .abtcon22{
    padding: 10px;
}

#skill{

    display: flex;
    margin: 0 100px;

}

.skill1{
    width: 100%;
    padding-right: 70px;
}

.skill2{
    width: 100%;
}

.skillbar{
    margin-bottom: 10px;    
}

.skillbar>p{
    margin-bottom: 10px;
}

.skillbar2{
    height: 5px;
    width: 88%;
    background-color: #FF4A57;
    position: relative;
}

.skillbar1{
    height: 5px;
    width: 100%;
    background-color: #23263A;
}

.skillnum{
    border: 0.125rem solid #fff;
    position: absolute;
    top: -36px;
    right: 0;
    font-size: 12px;
    padding: 6px 12px;
    font-weight: bold;
    border-radius: 6px;
}