* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0%;
    font-family: 'Roboto', sans-serif;;
    background-color: #1F2235;
    color: white;
    
}
.main-header {
    display: flex;     
    justify-content: space-between;   
    align-items: center; 
    padding: 0.5em 2em;    
    /* margin-left: 1em;
    margin-right: 1em;        */
      
}
.navbar {
    padding: 30px 0;

}

 /* .nav-ul {
    list-style: none;     
} */

.nav-li, .blog-li {
    display: inline-block;    
}

.nav-li a, .port-li a{
    text-decoration: none; 
    margin: 0 14px; 
    font-weight: 500; 
    color: white;
    font-size: 18px;     
}

nav ul li a:hover{
    color: #FF4A57;
}

#logo {
    width: 70%;
    padding-left: 18px;
}

.home-top {
    background-color: #24263B;
    display: flex;
    justify-content: space-between;
    padding: 2em 3em;
}
.home-top1 {
    margin: 7em 0;
}

.home-top1 > h2{
    font-size: 62px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.home-top1 > p{
    font-size: 26px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 50px;
}

/* .social-div {
    margin: 40px 0;
           
} */

.social-div a {
     margin: 8px;
} 

.social-div .fa {
    padding: 15px;
    /* font-size: 30px; */
    /* width: 25px; */
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%; 
    border: 2px solid #FF4A57;   
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook, .fa-pinterest, .fa-twitter, .fa-linkedin, .fa-instagram {
    color: white;
  }

  .btn1, .skilbtn{
    border: 2px solid;
    color: #fff;
    font-weight: 500;
    display: inline-block;    padding: 13px 40px;
    border-radius: 50px;
    font-size: 15px;
    border-color: #FF4A57;
    background-color: rgba(101, 30, 30, 0);
    margin-right: 0.5rem;
}

.btn1 a{
    text-decoration: none;
    color: #fff;
}

.btn1:hover, .skilbtn:hover{
    background-color: #FF4A57;
    transition: 0.3s ease;
}

.bnyt{
    display: flex;
    align-items: center;
    
}

.utube{
    border: #FF4A57 2px solid;
    border-radius: 50px;
    margin-left: 15px;
    background-color: #FF4A57;
}

.mdi-play{
    font-size: 30px;
    padding: 3px 30px;
    display: inline-block;
}

#service, #about, #skill, #portfolio, #blog, #contact, footer{
    padding: 100px 2em 105px 2em;
}

.serv1, .abt, .port{
    text-align: center;
    padding: 10px;
    margin: 0 27%;
}

.servp1, .skilp{
    margin-bottom: 20px;
    color: #FF4A57;
    font-size: 18px;

}
.serv1 h2, .abt h2, .skilh h2, .port h2{
    font-size: 62px;
    margin-bottom: 25px;
}

.servp2, .abt p, .port p{
    line-height: 30px;
    font-size: 16px;
    color: #dfdfdf;
}

hr{
    width: 10%;
    height: 2.5px;
    margin: 40px 0px;
    display: inline-block;
    background-color: #FF4A57;
    border: inherit;
}

.servcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.servcard1{
    max-width: 30.5%;
    margin: 15px 15px;
    background: #23263A;
    padding: 60px 35px;
    border-radius: 20px;    
}

.servcard1:hover{
    background: #FF4A57;
    transition: .5s;
}

.servcard1 .fa{
    color: #FF4A57;
    font-size: 46px;    
}

.servcard1:hover i{
    color: #ffffff;
    transform: rotateY(360deg);
    transition: .8s linear;       
}

.servcard1 h3{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.25rem;
}

.servcard1 p, .abtcon p, .abtcon2 p, .skilh p, .skillbar>p{
    color: #dfdfdf;
    font-size: 16px;
    line-height: 26px;
}

#about, #portfolio, footer{
    background-color: #23263A;
}

.abt1, .abtcon2, .blogcard, .cont, .contflex{
    display: flex;
}

.abtimg{
    display: flex;
    justify-content: center;
    width: 80%;
}

.abtcon, .abtcon21, .abtcon22{
    width: 100%;
}

.abtcon1 p, .abtcon2 p, .skilh p, .blog-ul{
    margin-bottom: 1.5rem;
}
.abtcon1 h3{
    margin-bottom: 25px;
    font-size: 1.75rem;
    line-height: 1.2;
}

.abtcon2 h3{
    color: #FF4A57;
    margin-bottom: 0.3rem;
}

.abtcon1, .abtcon21, .abtcon22{
    padding: 10px;
}

#skill{

    display: flex;
    margin: 0 100px;
    align-items: center;

}

.skill1{
    width: 100%;
    padding-right: 70px;
}

.skill2{
    width: 100%;
}

.skillbar{
    margin-bottom: 30px;    
}

.skillbar>p{
    margin-bottom: 10px;
}

.skillbar2, .skillbar3, .skillbar4, .skillbar5, .skillbar6{
    height: 5px;
    background-color: #FF4A57;
    position: relative;
}

.skillbar2{
    width: 95%;
}

.skillbar3{
    width: 88%;
}

.skillbar4{
    width: 80%;
}

.skillbar5{
    width: 75%;
}

.skillbar6{
    width: 90%;
}

.skillbar1{
    height: 5px;
    width: 100%;
    background-color: #23263A;
}

.skillnum{
    border: 0.125rem solid #fff;
    position: absolute;
    top: -36px;
    right: 0;
    font-size: 12px;
    padding: 6px 12px;
    font-weight: bold;
    border-radius: 6px;
}

.skillnum::after{
    border-style: solid;
    border-width: 0.3125rem 0.3125rem 0 0;
    border-color: #fff transparent transparent transparent;
    bottom: -0.4375rem;
    content: "";
    left: 1.375rem;
    position: absolute;
}

#portnav1{
    margin-bottom: 50px;
}

.port-ul{
    text-align: center;
}

.port-li{
    color: #fff;
    display: inline-block;    
    font-size: 15px;
    margin-right: 0.5rem;
    border: 2px solid#23263A;
    background: #23263a;
    padding: 6px 5px;
    border-radius: 20px;
}

.port-li:hover{
    background: #FF4A57;
    border-color: #FF4A57;
}

.port-li:first-child, .img-col:hover{
    border-color: #FF4A57;
}

.rows{
    display: flex;  
    flex-wrap: wrap;

}

.col{
    flex: 33%;
    padding: 0 15px;        
}
.img-col, .blog1 img{
    width: 100%;
}

.img-col {
    margin-bottom: 30px;  
    border-radius: 10px;      
} 

.img-cola{
    position: relative;
}

.img-col:hover{
    border: 2px solid #FF4A57;
}
  
.blog1, .cont{
    margin: 0 15px;
    border-radius: 8px;
    background-color: #23263a;
}

.blog1 img{
    border-radius: 10px 10px 0 0;
}

.blog1 a{
    text-decoration: none;      
    color: #FF4A57;        
}

.blog1a .fa-fw{
    margin-left: 7px;
}

.blog1 a:hover, .blog1 a:hover i{
    margin-left: 0px;
    color: white;
    transition: .5s ease;
}

.blog-li .fa{
    margin: 0px 8px 0 5px;
}

.blog-ul{
    font-size: 15px;
}

.blog1a{
    font-weight: 600;
}

.blog2{
    padding: 30px;
}

.blog2 h5{
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 25px;
}

.cont{
    padding: 25px; 
    width: 33%;   
}


.cont .fa-fw{
    color: #FF4A57;
    font-size: 32px;
    margin-right: 15px;
} 

.cont h5{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}

.cont p{
    margin-bottom: 5px;
}

#contact{
    padding-top: 20px;
}

.inp, .inp1, .inp2{
    width: 48%;
    background: #23263a;
    border: 1px solid #222645;
    padding: 20px;
    margin: 10px 10px 0 10px;
    color: white;
    font-size: 16px;
}

.inp1, .inp2{
    width: 98%;
}

form{
    margin: 4em 0em 1em 0em;
    text-align: center;
    position: relative;
}

.subbtn{
    border-radius: 100px;
    border: none;
    padding: 18px 60px;
    background: #FF4A57;
    font-size: 16px;
    color: white;
    position: absolute;
    left: 14px;
    margin-top: 10px;
}

.foot{
    text-align: center;
    padding: 10px;
    margin: 0 20%;
    line-height: 30px;
    font-size: 16px;
    color: #dfdfdf;
}

footer{
  padding-bottom: 0px;  
}